version: "3.9"
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:80"
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///./nebula_marketplace.db
  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:80
    ports:
      - "3000:3000"
